<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body align='center'>
        <h1 style="color:blue">Welcome, you have successfully Logged In </h1>
        <form action='logout' method='post'>
         {% csrf_token %}
        <button class="btn btn-danger" style="position: fixed;
                       bottom: 30px;
                       right: ;" onclick='alert("Logged out")'>Logout</button>
        </from>
    </body>
</html>